
<h1>{{name}}</h1>

<form action="add">
Enter the number 1 : <input type='number' name="num1"><br>
Enter the number 2 : <input type='number' name="num2"><br>
<input type="radio" id="sum" name="sum">
    <label for="sum">Sum </label><br>
<input type="radio" id="sub" name="sub">
    <label for="sub">Sub </label><br>
<input type="radio" id="mul" name="mul">
    <label for="mul">Mul </label><br>
<input type="radio" id="div" name="div">
    <label for="div">Div </label><br>
<input type="Submit">

Result : {{result}}

</form>